* { margin: 0; padding: 0; }

html { overflow-y: scroll; }

a { text-decoration: none; }

a:focus { outline: 0; }


/* Generic Utility */
.hide { position: absolute; top: -9999px; left: -9999px; }



#tabbed{
	padding: 0 0 0 0;
}

/* Specific to example two */

#tabbed .list-wrap { background: url(../images/tabs/tabbed-sides.jpg) repeat-y; padding: 0; margin: 0 0 15px 0; position: relative;}

#tabbed .list-wrap p
{padding: 5px 10px 0 10px;
color: #fff;
font-size: 1.15em;
}

ul.drop,
ol.drop
{margin: 0 0 0 28px;
}

ul.drop li
{padding: 5px 10px 0 10px;
list-style: circle;
color: #fff;
font-size: 1.15em;
}

ul.drop-split{
	margin: 10px 0 15px 5px;
}

ul.drop-split li
{display: block;
width: 176px;
float: left;
padding: 0 0px 0 10px;
list-style: circle;
color: #fff;
font-size: 1.15em;
}

ol.drop li
{padding: 5px 10px 0 10px;
color: #fff;
font-size: 1.15em;
}

#tabbed h1{
	padding: 5px 10px 0 10px;
	color: #666;
	font-weight: normal; 
	letter-spacing: 1px;
	font: 1.8em "Alte DIN 1451 Mittelschrift", Helvetica, Arial, sans-serif;
}

#tabbed h3{
	padding: 5px 10px 0 10px;
	color: #666;
	font-weight: normal; 
	letter-spacing: 1px;
	font: 1.6em "Alte DIN 1451 Mittelschrift", Helvetica, Arial, sans-serif;
}

#tabbed ul { list-style: none; }
#tabbed ul li a { display: block; border-bottom: 1px solid #666; padding: 4px; color: #666; }
#tabbed ul li a:hover { background: #fff; color: white; }
#tabbed ul li:last-child a { border: none; }

#tabbed .nav { overflow: hidden; height: 35px; font-size: 10px !important;}

#top-border{ position: absolute; z-index:1; top: 0;}

#tabbed .nav li {float: left; margin: 0 0 0 0;  width: 130px; position: relative; z-index:10; }
#tabbed .nav li.last { margin-right: 0; }

#tabbed .nav li.nav-one a { display: block; height: 19px; padding: 11px 0 0 8px; background: url(../images/tabs/tab1.png) 0 -30px no-repeat; color: #fff; font-size: 11px; text-align: left; border: 0;}

#tabbed .nav li.nav-two a { display: block; height: 19px; padding: 11px 0 0 8px; background: url(../images/tabs/tab1.png) 0 -30px no-repeat; color: #fff; font-size: 11px; text-align: left; border: 0;}

#tabbed .nav li.nav-three a { display: block; height: 19px; padding: 11px 0 0 8px; background: url(../images/tabs/tab1.png) 0 -30px no-repeat; color: #fff; font-size: 11px; text-align: left; border: 0;}

#tabbed .nav li.nav-blank{display: block; height: 28px; width: 130px; background: #fff;}


#tabbed li.nav-one a.current, 
#tabbed li.nav-one a.current:hover { background: url(../images/tabs/tab1.png) 0 0; color: #666; font-weight: bold; }

#tabbed .nav li.nav-one a:hover,
#tabbed .nav li.nav-one a:focus { background: url(../images/tabs/tab1.png) 0 0 no-repeat; color: #666;}


#tabbed li.nav-two a.current, 
#tabbed li.nav-two a.current:hover { background: url(../images/tabs/tab1.png) 0 0 no-repeat; color: #666; font-weight: bold; }

#tabbed .nav li.nav-two a:hover,
#tabbed .nav li.nav-two a:focus { background: url(../images/tabs/tab1.png) 0 0 no-repeat; color: #666;}

#tabbed li.nav-three a.current, 
#tabbed li.nav-three a.current:hover { background: url(../images/tabs/tab1.png) 0 0 no-repeat; color: #666; font-weight: bold; }

#tabbed .nav li.nav-three a:hover,
#tabbed .nav li.nav-three a:focus { background: url(../images/tabs/tab1.png) 0 0 no-repeat; color: #666;}